<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <h3 id="title">Flashcard</h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" [routerLink]="['/create']" routerLinkActive="active" >Create</a>
      <a class="nav-item nav-link" [routerLink]="['/card']" routerLinkActive="active" >Cards</a>
      <!-- <a class="nav-item nav-link" href="#">Cards</a> -->
    </div>
  </div>
</nav>
